
/*quick pc design. mobile leater */

/*ice body width of viewport and minium height of viewport
generlly have elements centrally aligned*/
body {
	min-height: 100vh;
	width:100vw;
  background-image: url('backy.jpg');
	min-width:300px;
	text-align: center;
	position :relative;
	color: white;
}




/*unnecessary element just keeping width  consistent in the inheritance*/
main{
	width:100%;
  background-color: rgba(132, 125, 125, 0.91);
}

#countdown{
	display:inline-block;
	font-size:2em;
	margin: 0;
	margin-top:60vh ;
	margin-left:60vw;
	color:white;
}
/*Static nav bac*/
#nav {
	position:fixed;
	display: inline-block;
	width: 80%;
	height: 7vh;
  min-width: 5.5vh;
  background: linear-gradient( black, black, rgba(0, 0, 0, 1));
  /*box-shadow: 0 3vh 27px rgba(4, 4, 4, 0.89);*/
  z-index: 1;
}


/*first page serves as a static background image*/
#backy{
	background-color: black;
	/*background-size: 100vw 100vh;*/
	/*position:fixed;*/
/*	height:100vh;
	width:100vw;*/
	left:0;
	top:7vh;
	z-index: -3;
	margin-top: 0;
	border-top: 0;
}
#cover-photo{
	margin-top:8%;
	height: 70vh;
	width:100%;
	background-image: url("whiteShirt.jpeg");
	background-size: 100% 100%;
	z-index: 0;
	vertical-align: bottom;
}

.tab{
   display: inline-block;
  text-decoration: none;
  width: 15%;
  height: 2vh;
  margin: 2px;
  font-size: 21px;
  padding: 1%;
  color:white;
  }

/*page has general page area  with standard size*/
.page{
  	height:auto;
  	width:80%;
  	display: inline-block;
  	background-color: rgba(0, 0, 0, 1);
  	z-index: -4;
  	border-top: 5px solid #530e0e;
  	vertical-align: top;
 }

#banner{
	position: relative;
	background: none;
	height:100vh;
}

.logo{
	margin-top:7%;
	height:20%;
	width:70%;
	background-color: black;
	display: inline-block;
	border-radius: 9px;
}

.clock{
  height: 7%;
  width: 50%;
  background-color: black;
  display: inline-block;
  border-top-left-radius: 104%;
  border-top-right-radius: 104%;
  bottom: 0;
  left: 25%;
  position: absolute;
  padding: 1%;
  z-index: 2;
}
h1{
	font-family: cursive;
  margin: 6%;
  font-size: 3em;
}
h4{
margin:3%;
font-size: 1.2em;
}






/*player*/

.player{
	/*position: relative;*/
	width:50%;
	display: inline-block;
	/*display: none;*/
	height: 15vh;
	margin: auto;
	margin-top: 8vh;
	background-color: grey; 
	vertical-align: top;

}
.music-info{
	position:relative;
		text-align:right;
    width: 60vw;
    display: inline-block;
    height: 40vw;
    margin: 5vh;
    margin-top: 10vh;
    border: 2vh solid grey;
    /*border-radius: 5vh;*/
    background-color: #4c0707;
    z-index: 0;

}

#player{
	position:absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	color:red;
}
.section{
	width:100%;
	height:100%;
	margin:auto;
	display:inline-block;
	vertical-align: top;
	position: relative;
}
p{
	color: black;
	font-size: 148%;
	line-height: 2;
	text-shadow: 3px 3px 22px blue;
	font-weight: bold;
}
.lyrics{
	/*width:49%;*/
	text-align:left;
	/*padding:1%;*/
	z-index: 3;
	background-color: rgba(0,21,76,0.5);
}
.music-cover{
	position: absolute;
	top:0;
	left:0;
	background-image: url('placeholder-prowl.jpg');
	z-index: -3;
	background-size: 100% 100%;
}

.b {
	width:100%;
}
span{
	color:darkred;
}
.emphasis{
	color:black;
	font-weight: bold;
}
#events{
	height:auto;
}
#shop{
	height:auto;
	/*padding:10vw;*/
}
#tees{
	height :24vh;
	display:inline-block;
	margin:15%;
	margin-top: 3%;
	background-color: white;
	background-image: url('Tees.png');
	background-size: 100% 100%;
	width:70%;
	border-radius:11%;
}


.list{
	padding:3%;
	width:50%;
	background-color: grey;
	display:inline-block;
}
.tour-dates{
	padding:3%;
	height:100%;
	width:70%;
	background-color: grey;
	display:inline-block;
	margin:5%;
}
.event{
	background-color: black;
	padding:1%;
	display:inline-block;
	width:100%;
	border:1px solid #4c0707;
}
.vent{
	height: 100%;
	width: 100%;
}
.event-info{
	display:inline-block;
	margin:1%;
	background: white; 
}
.event-name{
	width:25%;
}
.event-date{
	width:25%;
}
.event-description{
	width:40%;
}











